:root{
    --max-width:1273px;
    --logo-width:160px;
    --logo-hight:41px;
    --max-height:100vh;
    --banner-height:719px;
    --img-width:665px;
    --img-heigth:477px;
    --text-width:486px;
    --text-height:388px;
    --btn-widht:200px;
    --btn-heigth:56px;
    --top-botton-mtb:200px;
    --d-text-color-b:#000000;
    --section-title-font-size:36px;
    --section-title-font-color:#000000;
    --sectioni-details-font-size:18px;
    --sectioni-details-font-color:#7D7987;
    --cart-widht:350px;
    --cart-height:314px;
    --hr-width:56px;
}
.section-title{
    font-weight: 700;
    font-size: var(--section-title-font-size);
    color: var(--section-title-font-color);
}
.section-details{
    font-weight: 300;
    font-size: var(--sectioni-details-font-size);
    color: var(--sectioni-details-font-color);
}
*{
    /* margin: 0px; */
    padding: 0px;
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
}
.container{
    width: var(--max-width);
    margin: 0px auto;  
}

.head-nav{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.headLeftLogo{
    display: flex;
    align-items: center;
}
.logo img {
    width: var(--logo-width);
    height: var(--logo-hight);
    opacity: 0.9;
    cursor: pointer;
    transition: .3s ease;
    object-fit: scale-down;
    display: flex;
    align-content: center;
    align-items: center;
    transform: scale(1.1)
}
.logo img:hover{
    opacity: 1;
    transform: scale(1.15);
}
.headRightnav ul {
    display: flex;
    gap: 40px;
}
.headRightnav ul li {
  list-style: none;
}
.headRightnav ul li a{
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  color: #8F8A9A;
  transition: 0.3s ease;
}
.headRightnav ul li a.active{
  font-weight: 600;
  color: #1F1534;
}
.headRightnav ul li a:hover{
  color: #1F1534;
}
.container-hero{
    width: var(--max-width);
    height: inherit;
    margin: 0 auto;
    background-image: url(../assets/images/dot.png);
    background-position: left top;
    background-size: auto;
    background-repeat: no-repeat;
}

.banner{
    height: var(--banner-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-left{
    width: var(--text-width);
    height: var(--text-height);
}
.banner-left h3{
    font-weight: 700;
    font-size: 48px;
}
.banner-left p{
    font-weight: 300;
    font-size: 21px;
    color: #7D7987;
    margin-top: 25px;
    margin-bottom: 45px;
}
.banner-left button{
    width: var(--btn-widht);
    height: var(--btn-heigth);
    border-radius: 55px;
    background-color: #458FF6;
    border: 1px solid #458FF6;
    transition: .3s ease;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
}
.banner-left button:hover{   
    background-color: #fff;
    border: 1px solid #458FF6;
    color: #458FF6;
}
.banner-img{
    width: var(--img-width);
    height: var(--img-heigth);
}
.banner-img img{
     width: var(--img-width);
   object-fit: cover;
}

.our-service-container {
    margin-top: var(--top-botton-mtb);
    width: var(--max-width);
    margin: auto;   
    padding-top: 200px;
    height: 1133px;
}
.our-service-container-head{
    display: flex; 
    justify-content: center;
}

.our-service-body{   
    text-align: center;
    width: 952px;
}
.service-hr {
    margin: auto;
    border: 2px solid #000000;
   width:var(--hr-width);
}

.section-cart-container{
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
        background-image: url(../assets/images/bg-element.png), url(../assets/images/dot.png);
    background-repeat:no-repeat, no-repeat;
    background-position: left center, right center;
    background-size: auto, auto;
}

.cart-container{
    width: var(--cart-widht);
    height: var(--cart-height);
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 10px 40px 50px #E5E9F666;
    padding-top:54px;
    padding-left: 34px;
}

.cart-img{
    width: 92px;
    height: 90px;
    background-repeat: no-repeat;
    background-size: auto;
}
.cart-title{
    font-size: 24px;
    font-weight: 700;
    padding-top: 22px;
}
.cart-decription{
    font-weight: 300;
    font-size: 16px;
    color: #7D7987;
    width: 266px;
}
.btn-cart-section{
    text-align: center;
    margin-top: 70px;
}
.btn-cart-learn-more{
    width: var(--btn-widht);
    height: var(--btn-heigth);
    border-radius: 55px;
    background-color: #ffffff;
    border: 1px solid #458FF6;
    transition: .3s ease;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
    color: #458FF6;
}
.btn-cart-learn-more:hover{   
    background-color: #458FF6;
    border: 1px solid #458FF6;
    color: #fff;
}

.healthcare-sectioin{
    margin-top: 220px;   
}
.healthcare-container{    
    margin: auto;
    width: var(--max-width);  
    height: 477px;
}

.healthcare-containt{
    display: flex;
   justify-content: space-between;
   align-items: center;
}
.healthcare-left{
    width: var(--img-width);
    height: var(--img-heigth);
}
.healthcare-left img{
    background-repeat: no-repeat;
    background-size: auto;
    width: var(--img-width);
    height: var(--img-heigth);
}

.healthcare-right{
    width: var(--text-width);
    height: var(--text-height);
}

.healthcare-title{
    font-size: var(--section-title-font-size);
    font-weight: 700;
}
.healthcare-hr{
    width: var(--hr-width);
    border: 2px solid black;
    border-radius: 10px;;
}
.healthcare-description{   
    width: 400px;
}
.healthcare-description p{   
    color: var(--sectioni-details-font-color);
    font-size: var(--sectioni-details-font-size);
    font-weight: 300;
}
.healthcare-btn button{
    width: var(--btn-widht);
    height: var(--btn-heigth);
    border-radius: 55px;
    background-color: #ffffff;
    border: 1px solid #458FF6;
    transition: .3s ease;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
    color: #458FF6;
}
.healthcare-btn button:hover{   
    background-color: #458FF6;
    border: 1px solid #458FF6;
    color: #fff;
}

.mobile-apps-sectioin{
    width: var(--max-width);
    margin: auto;
    height: 675px;
    background-image: url(../assets/images/dot.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: right top;
}
.mobile-apps-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end; 
    height: 675px;;
}

.mobile-apps-right {
    width: var(--img-width);
    height: var(--img-heigth);   
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.mobile-apps-left{
    width: 420px;
    height: 375px;
}
.mobile-apps-title{
    font-weight: 700;
    font-size: var(--section-title-font-size);
    color: var(--section-title-font-color);
    /* width: 254px; */

}
.mobile-apps-hr{
    width: var(--hr-width);
    border: 2px solid #000;
    border-radius: 10px;
}
.mobile-apps-description{
    font-size: var(--sectioni-details-font-size);
    color: var(--sectioni-details-font-color);
    font-weight: 300;
    width: 420px;
}
.mobile-apps-right img {
    width: var(--img-width);
    height: var(--img-heigth);
}

.mobile-apps-btn  button{
    width: var(--btn-widht);
    height: var(--btn-heigth);
    border-radius: 55px;
    background-color: #ffffff;
    border: 1px solid #458FF6;
    transition: .3s ease;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
    color: #458FF6;
}
.mobile-apps-btn  button:hover{   
    background-color: #458FF6;
    border: 1px solid #458FF6;
    color: #fff;
}
.customer-saying-section{
    margin-top: 250px;
  
}

.customer-saying-contaner{
    width: var(--max-width);
    height: 502px;
    border: 1px solid red;
    margin: auto;
     background-image: url(../assets/images/dot.png);
   background-repeat: no-repeat;
   background-size: auto;
   background-position: bottom left;
}
.customer-saying-containt {
    margin: auto;
    width: 1120px;
    height: 425px;
    background: linear-gradient(
        90deg,
        #5A98F2,     
        #67C3F3   
    );
    z-index: 10;
}

.customer-saying-body {
    margin-top: 15px;
    width: 1120px;
    height: 425px;
    border: 1px solid red;
    border-radius: 24px;
    z-index: 20;
    background-image: url(../assets/images/gdot.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top right;
}