:root{
    --max-width:1273px;
    --logo-width:160px;
    --logo-hight:41px;
    --max-height:100vh;
    --banner-height:719px;
    --img-width:665px;
    --img-heigth:477px;
    --text-width:486px;
    --text-height:388px;
    --btn-widht:200px;
    --btn-heigth:56px;
    --top-botton-mtb:200px;
    --d-text-color-b:#000000;
    --section-title-font-size:36px;
    --section-title-font-color:#000000;
    --sectioni-details-font-size:18px;
    --sectioni-details-font-color:#7D7987;
    --cart-widht:350px;
    --cart-height:314px;
    --hr-width:56px;
    --user-width:141px;
    --user-height:141px;
}
.section-title{
    font-weight: 700;
    font-size: var(--section-title-font-size);
    color: var(--section-title-font-color);
}
.section-details{
    font-weight: 300;
    font-size: var(--sectioni-details-font-size);
    color: var(--sectioni-details-font-color);
}
*{
    /* margin: 0px; */
    padding: 0px;
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
}
.container{
    width: var(--max-width);
    margin: 0px auto;  
}

.head-nav{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.headLeftLogo{
    display: flex;
    align-items: center;
}
.logo img {
    width: var(--logo-width);
    height: var(--logo-hight);
    opacity: 0.9;
    cursor: pointer;
    transition: .3s ease;
    object-fit: scale-down;
    display: flex;
    align-content: center;
    align-items: center;
    transform: scale(1.1)
}
.logo img:hover{
    opacity: 1;
    transform: scale(1.15);
}
.headRightnav ul {
    display: flex;
    gap: 40px;
}
.headRightnav ul li {
  list-style: none;
}
.headRightnav ul li a{
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  color: #8F8A9A;
  transition: 0.3s ease;
}
.headRightnav ul li a.active{
  font-weight: 600;
  color: #1F1534;
}
.headRightnav ul li a:hover{
  color: #1F1534;
}
.container-hero{
    width: var(--max-width);
    height: inherit;
    margin: 0 auto;
    background-image: url(../assets/images/dot.png);
    background-position: left top;
    background-size: auto;
    background-repeat: no-repeat;
}

.banner{
    height: var(--banner-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-left{
    width: var(--text-width);
    height: var(--text-height);
}
.banner-left h3{
    font-weight: 700;
    font-size: 48px;
}
.banner-left p{
    font-weight: 300;
    font-size: 21px;
    color: #7D7987;
    margin-top: 25px;
    margin-bottom: 45px;
}
.banner-left button{
    width: var(--btn-widht);
    height: var(--btn-heigth);
    border-radius: 55px;
    background-color: #458FF6;
    border: 1px solid #458FF6;
    transition: .3s ease;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
}
.banner-left button:hover{   
    background-color: #fff;
    border: 1px solid #458FF6;
    color: #458FF6;
}
.banner-img{
    width: var(--img-width);
    height: var(--img-heigth);
}
.banner-img img{
     width: var(--img-width);
   object-fit: cover;
}

.our-service-container {
    margin-top: var(--top-botton-mtb);
    width: var(--max-width);
    margin: auto;   
    padding-top: 200px;
    height: 1133px;
}
.our-service-container-head{
    display: flex; 
    justify-content: center;
}

.our-service-body{   
    text-align: center;
    width: 952px;
}
.service-hr {
    margin: auto;
    border: 2px solid #000000;
   width:var(--hr-width);
}

.section-cart-container{
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
        background-image: url(../assets/images/bg-element.png), url(../assets/images/dot.png);
    background-repeat:no-repeat, no-repeat;
    background-position: left center, right center;
    background-size: auto, auto;
}

.cart-container{
    width: var(--cart-widht);
    height: var(--cart-height);
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 10px 40px 50px #E5E9F666;
    padding-top:54px;
    padding-left: 34px;
}

.cart-img{
    width: 92px;
    height: 90px;
    background-repeat: no-repeat;
    background-size: auto;
}
.cart-title{
    font-size: 24px;
    font-weight: 700;
    padding-top: 22px;
}
.cart-decription{
    font-weight: 300;
    font-size: 16px;
    color: #7D7987;
    width: 266px;
}
.btn-cart-section{
    text-align: center;
    margin-top: 70px;
}
.btn-cart-learn-more{
    width: var(--btn-widht);
    height: var(--btn-heigth);
    border-radius: 55px;
    background-color: #ffffff;
    border: 1px solid #458FF6;
    transition: .3s ease;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
    color: #458FF6;
}
.btn-cart-learn-more:hover{   
    background-color: #458FF6;
    border: 1px solid #458FF6;
    color: #fff;
}

.healthcare-sectioin{
    margin-top: 220px;   
}
.healthcare-container{    
    margin: auto;
    width: var(--max-width);  
    height: 477px;
}

.healthcare-containt{
    display: flex;
   justify-content: space-between;
   align-items: center;
}
.healthcare-left{
    width: var(--img-width);
    height: var(--img-heigth);
}
.healthcare-left img{
    background-repeat: no-repeat;
    background-size: auto;
    width: var(--img-width);
    height: var(--img-heigth);
}

.healthcare-right{
    width: var(--text-width);
    height: var(--text-height);
}

.healthcare-title{
    font-size: var(--section-title-font-size);
    font-weight: 700;
}
.healthcare-hr{
    width: var(--hr-width);
    border: 2px solid black;
    border-radius: 10px;;
}
.healthcare-description{   
    width: 400px;
}
.healthcare-description p{   
    color: var(--sectioni-details-font-color);
    font-size: var(--sectioni-details-font-size);
    font-weight: 300;
}
.healthcare-btn button{
    width: var(--btn-widht);
    height: var(--btn-heigth);
    border-radius: 55px;
    background-color: #ffffff;
    border: 1px solid #458FF6;
    transition: .3s ease;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
    color: #458FF6;
}
.healthcare-btn button:hover{   
    background-color: #458FF6;
    border: 1px solid #458FF6;
    color: #fff;
}

.mobile-apps-sectioin{
    width: var(--max-width);
    margin: auto;
    height: 675px;
    background-image: url(../assets/images/dot.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: right top;
}
.mobile-apps-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end; 
    height: 675px;;
}

.mobile-apps-right {
    width: var(--img-width);
    height: var(--img-heigth);   
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.mobile-apps-left{
    width: 420px;
    height: 375px;
}
.mobile-apps-title{
    font-weight: 700;
    font-size: var(--section-title-font-size);
    color: var(--section-title-font-color);
    /* width: 254px; */

}
.mobile-apps-hr{
    width: var(--hr-width);
    border: 2px solid #000;
    border-radius: 10px;
}
.mobile-apps-description{
    font-size: var(--sectioni-details-font-size);
    color: var(--sectioni-details-font-color);
    font-weight: 300;
    width: 420px;
}
.mobile-apps-right img {
    width: var(--img-width);
    height: var(--img-heigth);
}

.mobile-apps-btn  button{
    width: var(--btn-widht);
    height: var(--btn-heigth);
    border-radius: 55px;
    background-color: #ffffff;
    border: 1px solid #458FF6;
    transition: .3s ease;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
    color: #458FF6;
}
.mobile-apps-btn  button:hover{   
    background-color: #458FF6;
    border: 1px solid #458FF6;
    color: #fff;
}
.customer-saying-section{
    margin-top: 250px;
    text-align: center;
}

.customer-saying-contaner{
    width: var(--max-width);
    height: 502px;
    margin: auto;
     background-image: url(../assets/images/dot.png);
   background-repeat: no-repeat;
   background-size: auto;
   background-position: left 80%;
}
.customer-saying-containt {
    margin: auto;
    width: 1120px;
    height: 425px;
    border-radius: 24px;
    background: linear-gradient(
        15deg,
        #5A98F2,   
        #67C3F3    
    );    
    z-index: 10;
}

.customer-saying-body {
    margin-top: 15px;
    width: 1120px;
    height: 425px;
    border-radius: 24px;
    z-index: 20;
    background-image: url(../assets/images/gdot.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top right;
}


.customer-saying-body h3{
    font-weight: 700;
    font-size: 36px;
    color: #fff;
    margin-bottom: 25px;
    padding-top: 64px;
}
.customer-hr{
    width: var(--hr-width);
    border: 2px solid #fff;
    margin: auto;
    margin-bottom: 77px;
}

.customer-man-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 118px;
}
.customer-man-section-left{
    display: flex;
}
.customer-man-section-left img{
    width: var(--user-width);
    height: var(--user-height);
    border-radius: 50%;
}

.user-text{
    margin-left: 20px;
    text-align: left;
}
.name-text{
    font-weight: 700;
    font-size: 22px;
    color: #fff;
}
.name-description{
font-weight: 400;
font-size: 18px;
color: #fff;
}
.customer-man-section-right{
    width: 420px;
    text-align: left;
    font-weight: 400;
    font-size: 19px;
    color: #fff;
}

.pagination-dot-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.latest-article-section {
    width: var(--max-width);
    margin: 216px auto;   
    background-image: url(../assets/images/dot.png);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: auto;
    position: relative;
}

.latest-article-section::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: url(../assets/images/bg-element.png) no-repeat;
    background-size: auto;
    transform: scaleX(-1); 
    z-index: -9999;
    height: 100vh;
}
.latest-article-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 34px;
    box-shadow: 10 10 #ebebeb56;
}
.article-container{
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 5px 5px 30px -10px;
}

.article-img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    border-radius:20px 20px 0 0;
}
.article-title{
font-size: 21px;
font-weight: 700;
color: #000;
}
.article-decription{
font-size: 16px;
font-weight: 300;
color: #7D7987;
}

.read-more-btn{
    font-weight: 600;
    font-size: 17px;
    color: #4089ED;
    text-decoration: none;

}

.read-more-btn {
    font-weight: 600;
    font-size: 17px;
    color: #4089ED;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 6px; 
    padding-top: 25px;
    padding-bottom: 3px;
}

.move-left-array {
    display: inline-block;
    transition: transform 0.3s ease; 
}

.read-more-btn:hover .move-left-array {
    transform: translateX(10px);
}

.footer-section{
    width: 100%;
    height: 432px;
    background: linear-gradient(15deg, #5A98F2,#67C3F3);
    
}
.footer-section-container{
    width: 100%;
    height: 100%;
    background: url(../assets/images/dot.png), url(../assets/images/fdot.png);
    background-repeat: no-repeat, no-repeat;
    background-position: left bottom, right 91px top -65px;
}

.footer-container{   
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer-containt{
    width: 391px;
color: #fff;
}
.footer-center-nav{
    display: flex;
    justify-content: space-between;

}

.footer-logo img{
   padding: 0px;
   margin: 0px; 
   display: block;
    width: 100%;
    height: auto; 
}
.footer-logo-text{
    margin-left: 30px;
}
.footer-titele{
  font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #fff;
}
.footer-copy{
    font-weight: 300;
    font-size: 16px;
    color: #fff;
}
.footer-menu-title{
    font-weight: 700 !important;
    font-size: 20px !important;
    color: #fff !important;
    line-height: 60px !important;
    padding-bottom: 2px !important;
}

.footer-menu ul li{
    list-style: none;
    line-height: 38px;
    font-weight: 300;
    font-size: 18px;
    cursor: pointer;
}